{% extends "general/index.html" %}
{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $("#form").submit(function(e){
                var postData = $(this).serializeArray();
                console.log(postData)
                $.ajax({
                    url : "/data/import",
                    type: "POST",
                    data : postData,
                    success:function(data, textStatus, jqXHR) 
                    {
                        //data: return data from server
                    },
                    error: function(jqXHR, textStatus, errorThrown) 
                    {
                        //if fails      
                    }
                });
                e.preventDefault();
            });
            $.getJSON( "/setting/tenant", function(data) {
                let list=''
                $.each(JSON.parse(data), function(i, item) {
                    list = `${list}<option>${item.tenant}</option>`;
                })
                $("#tenants").html(list);
                $("#tenants").trigger("change");
            });

            $("#tenants").change(function() {
                $.getJSON( "/data/" + $("#tenants").val() + "/subscriptions", function(data) {
                    let list='';
                    $.each(JSON.parse(data), function(i, item){
                        list = `${list}<option>${item.subscriptionId}</option>`;
                    })
                    $("#subscriptions").html(list);
                });
            });
        })
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="row w-100 justify-content-center mt-3">
        <div class="card w-50" style="background-color:#212C3B;">
            <div class="card-body">
                <form id="form">
                    <div class="form-group">
                        <label style="font-weight: bold;color:white;font-family:微軟正黑體">租戶</label>
                        <select id="tenants" name="tenant" class="form-control" style="color:white;background-color:#1C2531"></select>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold;color:white;font-family:微軟正黑體">訂用帳戶</label>
                        <select id="subscriptions" name="subscription" class="form-control" style="color:white;background-color:#1C2531"></select>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold;color:white;font-family:微軟正黑體">起始時間</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="date" class="form-control" name="startDate" style="background-color:#1C2531">
                            </div>
                            <div class="col">
                                <input type="time" class="form-control" name="startTime" style="background-color:#1C2531">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold;color:white;font-family:微軟正黑體">結束時間</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="date" class="form-control" name="endDate" style="background-color:#1C2531">
                            </div>
                            <div class="col">
                                <input type="time" class="form-control" name="endTime" style="background-color:#1C2531">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}