{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg"  style="background-color:#222;">
        <div class="container h-100">
            <a class="navbar-brand" href="/dashboard">
                <img src="{{ url_for('static', filename='css/pig.png') }}" width="40" height="40">
            </a>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/data-import" style="color:#cfd2da"><i class="fa fa-rocket" aria-hidden="true"></i>&nbsp; DataImport</a>
                    </li>
                    &nbsp;&nbsp;
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:#cfd2da"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Keypair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}