{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="row h-100 w-100 justify-content-center align-items-center">
        <div class="card w-25" style="background-color:#212C3B">
            <div class="card-body">
                <form action="/dashboard" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" style="background-color:#1C2531">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" style="background-color:#1C2531">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="alert alert-danger" role="alert" style="display:{{warning}}">
                        permission denied
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}